<nav class="navbar">
      
<%= link_to'首頁', root_path %></a>

      <ul>
      <li><%= link_to'註冊', sign_up_user_path %></a></li>
      <li><%= link_to'登陸', '#' %></a></li>
      <li><%= link_to'履歷', resumes_path %></a></li>
        <li><%= link_to'關於我們', about_path %></a></li>
        <li><%= link_to'聯絡我們', contact_path %></a></li>

      </ul>
    </nav>